* {box-sizing:border-box}

.kontenjer {
  display: grid;
  margin: 0 auto;
  padding: 30px;
  grid-template-columns: auto auto;
  max-width: 1000px;
  align-content: center;
  gap: 80px;
}
 
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3 , .mySlides4 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width:auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #887177; 
}

.welcome{
  margin: 70px 50px;
}

.italic{
  font-style: italic;
  font-family: 'Times New Roman';
  font-size: 33px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 900px) {
  main {
    margin: 0 !important;
  }
  .kontenjer {
    display: grid;
    grid-template-columns: auto;
    padding: 0;
    margin: 50px 0px;
    gap:40px;
  }
  .welcome,.italic {
    margin: 50px 90px;
  }
}






